<div class ="container md-4">
    <h3>Sign Up </h3>
<form class=""  [formGroup]="SignupForm" (ngSubmit)="OnSubmit()">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter Name">
        <span class="validations" *ngIf="controls['name'].errors?.['required']">
            Fill up The Fields
        </span>
      </div>  
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="email" >
        
      </div>

      <div class="col-md-6 mb-3">
        <label for="validationServer03">Phone Number</label>
        <input type="text" class="form-control" formControlName="phoneNumber" placeholder="phone" >
        
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer04">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="password" >
        
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationServer05">Re Enter Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="confirmPassword" required>
        
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</div>