
<div class ="container md-4">
    <h3>Add Task </h3>
<form class=""  [formGroup]="AddTaskForm" (ngSubmit)="OnSubmit()">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Task</label>
        <input type="text" class="form-control " formControlName="item" placeholder="Enter Task Name"  required>
       <span class="validations" *ngIf="controls.item.touched
       && !controls.item.valid || controls['item'].errors?.['pattern']">
          Enter Valid Task Name
       </span>
       <span class="validations" *ngIf="controls['item'].errors?.['minlength']">
          Too Short
       </span>
      </div>
      <div class="col-md-4 mb-3">
        <label >Work Type:-  </label>
        <select name="" id="" formControlName="type" >
            <option value="" disabled selected> Select the Work type</option>
            <option  *ngFor="let type of task_type">{{type}}</option>
        </select>
       <span class="validations" *ngIf="controls.type.touched && controls.type.invalid && controls['type'].errors?.['required']">
        Choose Valid Options
        </span>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"  formControlName="description"></textarea>
      </div>
      <span class="validations" *ngIf="controls.description.touched && !controls.description.valid">
        Enter Valid Description
     </span>
     <span class="validations" *ngIf="controls['description'].errors?.['minlength']">
      Text Too Short
     </span>
     <span class="validations" *ngIf=" controls['description'].errors?.['maxlength']">
      Text Too Long Limit is 70 characters
     </span>
      
    </div>
    <div class="form-group">
        <label class="form-label" for="customFile">Add Image</label>
        <input type="file" class="form-control" id="customFile"  formControlName="image" />
        <span class="validations" *ngIf="controls.image.touched && !controls.image.valid">
          Enter Input Type Image
       </span>
    </div>
    <hr>
    <div class="col-md-4 mb-3">
        <label >Status:-  </label>
        <select name="" id="" formControlName="status" >
            <option  value="" selected disabled> Select Status</option>
            <option  *ngFor="let status of status">{{status}}</option>
        </select>
        <span class="validations" *ngIf="controls.status.touched && !controls.status.valid">
          Enter Status
       </span>
      </div>
    <hr>
    <div  class="col-md-4 mb-3">    
    <button class="btn btn-primary"  [disabled]="AddTaskForm.invalid && AddTaskForm || AddTaskForm.pristine" type="submit">Submit form</button>
    <span class="validations" *ngIf="submitted===true">
      All Fields Are Necessary
   </span>
  </div>

  </form>
</div>
